<h1>Список студентов</h1>

<div class="row">
    <div class="col s8">        
            <select Id="groupSelect">
              {{#if groups.length}}
                <option value="" disabled selected>Выберите группу</option>
                <option value="0">Все группы</option>
              {{#each groups}}
                <option value="{{dataValues.id}}">{{dataValues.groupName}}</option>
              {{/each}}
              {{else}}
                <option value="" disabled selected>Не добавлено не одной группы</option>
              {{/if}}            
            </select>           
       
    </div>
    <div class="col s4 right-align">
        <a href="/students/add" class="waves-effect waves-light btn green"><i class="material-icons left">add</i>Добавить студентa</a>
    </div>
   
</div>
<div class="row">
  <div id="studentsTable">
    {{#if students.length}}
     <table>
        <thead>
          <tr>
              <th>Id</th>
              <th>Имя</th>
              <th>День рождения</th>
              <th>Группа</th> 
              <th></th>              
          </tr>
        </thead>

        <tbody>
          {{#each students}}
            <tr>
            <td>{{dataValues.id}}</td>
            <td>{{dataValues.lastName}} {{dataValues.firstName}}</td>
            <td>{{dataValues.birthDate}}</td>
            <td>{{#if dataValues.group.dataValues.groupName}}
                  {{dataValues.group.dataValues.groupName}}
                  
                {{else}}
                  Группа не указана
                {{/if}}
             </td>
            <td class="right-align">
                   <a href="/students/update/{{dataValues.id}}" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">create</i></a>
                    <a href="/students/delete/{{dataValues.id}}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>

            </td>
          </tr>
          {{/each}}
          
                 
        </tbody>
      </table>
      {{else}}
                <p>Нет студентов</p>
      {{/if}}     

  </div>
    
   
</div>

